.App {
  text-align: center;
  margin: auto;
}

.loginform, .create {
  width: 50%;
  margin: auto;
  margin-bottom: 3rem;
}
.blog {
  text-align: left;
  border: 2px solid black;
  margin-bottom: 1px;
  padding-top: 10px;
  padding-left: 2px;
}

.blog p  {
  display: inline;
}

.title:hover {
  color: green;
}

.removebutton {
  background-color: aqua;
  border-radius: 10px;
  border: 0;
}

.likebutton {
  background-color: green;
  border-radius: 10px;
  border: 0;
}




.message p{
  color: green;
}

.message {
  border: 10px dotted green;
}

.error {
  border: 10px double red;
}

.error p {
  color: red;
}